
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anasayfa</h2>

<section class="banner-area relative">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center">

            <div class="banner-left col-lg-6">
                <div class="story-content">
                    <h6>Antrenör - Cengiz AKBEY</h6>
                    <h1>Taekwondo <br />Yaz Kursu</h1>
                    <p>
                        Akbey Akademi Turgutlu yaz spor dönem kayıtları başlamıştır, kayıt ücretleri ve antremanlarımız hakkında detaylı bilgiyi web sayfamızdan edinebilirsiniz.
                    </p>
                    <a href="~/tr/KayitOl" class="primary-btn text-uppercase">Kayıt hakkında bilgi almak için !</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="d-flex mx-auto img-fluid" src="~/img/akbeyakademi-logo.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start fact Area -->
<section class="facts-area section-gap" id="facts-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-fact">
                <img src="~/img/gold-medal.png" width="50" height="50" />
                <h1 class="counter">25</h1>
                <p>Milli Sporcu Sayısı</p>

            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <img src="~/img/gold-medal.png" width="50" height="50" />
                <h1 class="counter">40</h1>
                <p>Madalya ve Kupa Başarılarımız</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <img src="~/img/gold-medal.png" width="50" height="50" />
                <h1 class="counter">250</h1>
                <p>Yetiştirilen Sporcu Sayımız</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <img src="~/img/gold-medal.png" width="50" height="50" />
                <h1 class="counter">6500</h1>
                <p>Tükettiğimiz Su Litresi</p>
            </div>
        </div>
    </div>
</section>
<!-- end fact Area -->
<!-- Start services Area -->
<section class="services-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Neden mi Akbey Akademi ?</h1>
                    <p>Antrenör Cengiz AKBEY Manisa/Turgutlu da doğup büyümüş, spor bakanlığında yıllarca görev yapmış, milli sporcu ünvanının gerektirdiği çalışkan, dürüst ve iyi bir eğitimcidir.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-users"></span>
                    <a><h4>Disiplin</h4></a>
                    <p>
                        “It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.”
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-diamond"></span>
                    <a><h4>Spor Felsefesi</h4></a>
                    <p>
                        If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-dinner"></span>
                    <a><h4>Doğru Beslenme</h4></a>
                    <p>
                        Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-star"></span>
                    <a><h4>Yeteneği Keşfetme</h4></a>
                    <p>
                        Hypnosis quit smoking methods maintain caused quite a stir in the medical world over the last two decades. There is a lot of argument.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-history"></span>
                    <a><h4>Antreman Alışkanlığı</h4></a>
                    <p>
                        Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my conflicts.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-smile"></span>
                    <a><h4>Spor Sevgisi</h4></a>
                    <p>
                        You’ve heard the expression, “Just believe it and it will come.” Well, technically, that is true, however, ‘believing’ is not just thinking that.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services Area -->
