
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string a = "asd";
}

<!-- start banner Area -->
<section class="banner-area relative blog-home-banner" id="home" style="background-image:url('../../img/blog/akbey-blog.jpg')">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
                <h1 class="text-white">
                    T A E K W O N D O
                </h1>
                <p class="text-white"> 
                </p>
                <a class="primary-btn">Spora vereceğimiz mana, gençIiğe vereceğimiz mananın öz kardeşidir. </a>
            </div>
        </div>
    </div>
</section>
<br />

<!-- End banner Area -->
<div style="text-align:center" class="col-lg-12">
    <br />
    <img class="" src="~/img/akbey-akademi-logo.png"/>
    <h1 style="color:whitesmoke">B L O G</h1>
    <br />
</div>
<br /><br />
<!-- Start post-content Area -->
<section class="post-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 posts-list">
                <div class="single-post row">
                    <div class="single-post row">
                        <div class="col-lg-3  col-md-3 meta-details">
                            <div class="user-details row">
                                <p class="user-name col-lg-12 col-md-12 col-6"><a>Cengiz AKBEY</a> <span class="lnr lnr-user"></span></p>
                                <p class="date col-lg-12 col-md-12 col-6"><a>2 Temmuz 2018</a> <span class="lnr lnr-calendar-full"></span></p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="feature-img">
                                <img class="img-fluid" src="~/img/blog/cocuklar-icin-taekwondo-yararlari.jpg" alt="">
                            </div>
                            <a class="posts-title" href="blog-single.html"><h3>Çocuklar için Taekwondo'nun Faydaları</h3></a>
                            <p class="excert">
                                <b>Taekwondo</b>nun ana yararlarından biri de çocuğun gücünü ve dengesini geliştirmek olacaktır. Taekwondo tekmelemeye odaklandığı için, bu sporları yapan kişiler bir bacağınız üzerinde ağırlığınızı dengelemeyi öğrenmeli ve diğer bacağı ile de saldırması gerekmektedir. Bu aynı zamanda kaslarınızın güçlenmesini de sağlamaktadır.
                            </p>
                           
                            <a class="primary-btn">Devamını oku ...</a>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 meta-details">
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a>Cengiz AKBEY</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a>2 Temmuz 2018</a> <span class="lnr lnr-calendar-full"></span></p>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="~/img/blog/taekwondo-tarihi.jpg" alt="">
                        </div>
                        <a class="posts-title" href="blog-single.html"><h3>Taekwondo Tarihi</h3></a>
                        <p class="excert">
                            <b>TAE</b>; Ayak, <b>KWON</b>; El anlamına gelmektedir. DO ise, ahlak ve fazilete ulaşmak için takip edilmesi gereken düşünce ve davranış biçimidir.
                            Taekwondo kelime anlamıyla el ve ayaklarla uygulanan savunma ve vuruş tekniklerinden oluşan, sporcuda ahlaki değerlerin yüceltilmesine katkıda bulunan bir spor dalıdır.
                        </p>
                        <a class="primary-btn">Devamını oku ...</a>
                    </div>
                </div>
                <div class="single-post row">
                    <div class="col-lg-3  col-md-3 meta-details">
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a>Cengiz AKBEY</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a>2 Temmuz 2018</a> <span class="lnr lnr-calendar-full"></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="~/img/blog/poomse-nedir.jpg" alt="">
                        </div>
                        <a class="posts-title" href="blog-single.html"><h3>Poomse Nedir ?</h3></a>
                        <p class="excert">
                            <b>Poomse</b> asla önemsiz hareketler değildir. Poomse hareketin kendiside değildir.hareketlerin becerikli bir biçimde anlatımıdır.seri hareketler biçiminde ruhunuzdaki becerinin ve yeteğin bir dışa vurumudur.taekwondo felsefesinin bir kompozisyonu yani şekilerle anlatımıdır. eğer poomsede bir beceri ve sanat göremiyorsanız o taekwondo poomsesi değildir.
                        </p>
                        <a class="primary-btn">Devamını oku ...</a>
                    </div>
                </div>
                <div class="single-post row">
                    <div class="col-lg-3  col-md-3 meta-details">
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a>Cengiz AKBEY</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a>2 Temmuz 2018</a> <span class="lnr lnr-calendar-full"></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="feature-img">
                            <img class="img-fluid" src="~/img/blog/taekwondo-malzemeleri.jpg" alt="">
                        </div>
                        <a class="posts-title" href="blog-single.html"><h3>Taekwondo da Kullanılan Malzemeleri</h3></a>
                        <p class="excert">
                            Vücut Koruyucu | Yastık Ellik | Ayak Üst Koruyucu | Erkek Kuki Koruyucu | Bayan Kuki Koruyucu | Raket | Kask | El Koruyucu Eldiven | Ayak Koruyucu | Kol Koruyucu | Dobok ( Taekwondo Elbisesi ) | Dişlik
                        </p>
                        <a class="primary-btn">Devamını oku ...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 posts-list">
            </div>
        </div>
    </div>
</section>
<!-- End post-content Area -->
