
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    İletişim Bilgilerimiz
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
    <div class="container">
        <div><iframe class="col-lg-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780.6719447990221!2d27.705277729222548!3d38.49484579872722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b9a7911a9438fb%3A0xd7bff360b0ce0278!2sAcarlar+Mahallesi%2C+Muallim+%C4%B0smail+Hakk%C4%B1+Sk.+No%3A10%2C+45400+Turgutlu%2FManisa%2C+T%C3%BCrkiye!5e0!3m2!1str!2sus!4v1531007160938" height="445" width="900" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-4 d-flex flex-column address-wrap">
                <div class="single-contact-address d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-home"></span>
                    </div>
                    <div class="contact-details">
                        <h5>Turgutlu, Manisa</h5>
                        <p>
                            Acarlar Mahallesi<br />Muallim İsmail Hakkı Sokak No: 10/A
                        </p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-phone-handset"></span>
                    </div>
                    <div class="contact-details">
                        <h5>+90 (546) 484 5113</h5>
                        <p>Sabah 08:30 ve Akşam 19:30 <br />saatleri arasında arayabilirsiniz.</p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-envelope"></span>
                    </div>
                    <div class="contact-details">
                        <h5>iletisim@akbeyakademi.com</h5>
                        <p>Mail adresimizden bize ulaşabilirsiniz!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="form-area contact-form text-right" id="myForm" action="mail.php" method="post">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input name="name" placeholder="İsminiz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                            <!-- pattern="[A-Za-z0-9._%+-]+et[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" -->
                            <input name="email" placeholder="Mail ve ya Telefon Numaranız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">
                            <input name="subject" placeholder="Mesaj Konusu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
                        </div>
                        <div class="col-lg-6 form-group">
                            <textarea class="common-textarea form-control" name="message" placeholder="Mesajınız ..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert-msg" style="text-align: left;"></div>
                            <button class="genric-btn primary" style="float: right;">Mesajı Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End contact-page Area -->
