
@{
    ViewBag.Title = "KayitOl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KayitOl</h2>


<!-- Start price Area -->
<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Akbey Akdemi Kurs Seçenekleri</h1>
                    <p>Seçtiğiniz kursun süresi bitmeden bir üst seviyeye yükseltme hakkınız bulunmaktadır.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-price">
                <div class="top-part">
                    <h1 class="package-no">01</h1>
                    <h4>Economy</h4>
                    <p class="mt-10">For the individuals</p>
                </div>
                <div class="package-list">
                    <ul>
                        <li>Secure Online Transfer</li>
                        <li>Unlimited Styles for interface</li>
                        <li>Reliable Customer Service</li>
                    </ul>
                </div>
                <div class="bottom-part">
                    <h1>100.00 ₺</h1>
                    <a class="price-btn text-uppercase">Kayıt ol !</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-price">
                <div class="top-part">
                    <h1 class="package-no">02</h1>
                    <h4>Business</h4>
                    <p class="mt-10">For the individuals</p>
                </div>
                <div class="package-list">
                    <ul>
                        <li>Secure Online Transfer</li>
                        <li>Unlimited Styles for interface</li>
                        <li>Reliable Customer Service</li>
                    </ul>
                </div>
                <div class="bottom-part">
                    <h1>300.00 ₺</h1>
                    <a class="price-btn text-uppercase">Kayıt ol !</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-price">
                <div class="top-part">
                    <h1 class="package-no">03</h1>
                    <h4>Premium</h4>
                    <p class="mt-10">For the individuals</p>
                </div>
                <div class="package-list">
                    <ul>
                        <li>Secure Online Transfer</li>
                        <li>Unlimited Styles for interface</li>
                        <li>Reliable Customer Service</li>
                    </ul>
                </div>
                <div class="bottom-part">
                    <h1>500.00 ₺</h1>
                    <a class="price-btn text-uppercase">Kayıt ol !</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->

<section class="faq-area pb-120">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Kayıt için gerekli belgeler neler ?</h1>
                    <p>
                        Kurslarımıza kayıt olmak isteyen öğrecilerimiz velileriyle birlikte salonumuza gelirken <br />
                        <ul class="unordered-list">
                            <li>2 Adet Vesikalık Fotoğraf</li>
                            <li>Nüfus Cüzdanı Fotokopisi</li>
                            <li>Sağlık Raporu</li>
                        </ul>
                        <br />beglerini yanlarında getirmeleri gerekmektedir.<br /><br /><br />
                        <a href="~/tr/Iletisim" class="genric-btn primary circle arrow">Detaylı bilgi almak için bizimle iletişime geçebilirsiniz<span class="lnr lnr-arrow-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

