
@{
    Layout = null;
}
<h2> </h2>
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Turgutlu Akbey Akademi Spor Kulubü - Manisa</title>
    <link rel="icon" type="image/png" href="~/img/favicon.ico" />


    <!-- CSS ============================================= -->
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/linearicons.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="css/jquery-ui.css">-->


</head>
<body>
    <div class="bg"></div>
    <div class="container animated fadeIn">
        <center>
            <h2>
                <a href="#homepage">Akbey Akademi Web Panel</a>
            </h2>
        </center>
        <hr>
        <form>
            <center>
                <div>
                    <input type="text" name="username" placeholder="Kullanıcı Adı" value="">
                    <input type="password" name="password" placeholder="Şifre ">
                </div>
                <p class="a-link"><a href="">Sisteme kayıt ol !</a></p>
                <button>Login</button>
            </center>
            <br>
        </form>
    </div>
    <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- You can delete the div tag of source. But please don't delete the source's comment tag and keep it on your html. Thanks.
    ----------------------------Desigh by l3lackMegas / CodePen-----------------------------
    ---------------------------Background by fanjianhua / Freepik----------------------------
    -------------------CSS Bubble Animation by Twisted Core / Youtube-------------------

    <div class="footer">
        Background by <a href="http://www.freepik.com" target="_blank">fanjianhua / Freepik</a>
        <br>
        CSS Bubble Animation by <a href="https://www.youtube.com/watch?v=ETXba6QOzYg" target="_blank">Twisted Core</a>
    </div>
    <div class="l3lackMegas">
        Design by
        <a href="https://codepen.io/l3lackMegas/" target="_blank">l3lackMegas</a>.
    </div> -->
    <!-- End footer Area -->
    <!-- JS ============================================= -->
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/js/easing.min.js"></script>
    <script src="~/Scripts/js/hoverIntent.js"></script>
    <script src="~/Scripts/js/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/js/jquery.tabs.min.js"></script>
    <script src="~/Scripts/js/mail-script.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/simple-skillbar.js"></script>
    <script src="~/Scripts/js/superfish.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <!--============================================= -->


</body>
</html>