<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Turgutlu Akbey Akademi Spor Kulubü - Manisa</title>
    <link rel="icon" type="image/png" href="~/img/favicon.ico" />


    <!-- CSS ============================================= -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/linearicons.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="css/jquery-ui.css">-->


</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="~/tr/Anasayfa"><img src="~/img/akbey-akademi-logo.png" width="250" height="80" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="~/tr/Anasayfa">Anasayfa</a></li>
                        <li><a href="~/tr/KayitOl">Kulübümüze Sende Kayıt Ol!</a></li>
                        <li><a href="~/tr/Galeri">Galeri</a></li>
                        <li><a href="~/tr/Blog">Blog</a></li>
                        <!--  <li><a href="~/tr/Hakkimizda">Hakkımızda</a></li>-->
                        <li><a href="~/tr/Iletisim">İletişim</a></li>
                        <li><a href="~/tr/Panel" target="_blank"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start renderBody -->
    @RenderBody()
    <!-- End renderBody -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 style="background-color:black"><b style="color:#8a8a8a">Akbey Akademi Spor Kulubü</b></h4>
                        <p style="background-color:black">
                            Kulübümüz 2010 yılında Manisa ili Turgutlu ilçesinde T.C. Gençlik ve Spor Bakanlığı onayıyla açılmış olup günümüze kadar onlarca başarılı sporcu yetiştirmiş ve yetiştirmeye devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <img src="~/img/akbeyakademi-logo.png" width="90" height="90" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Sosyal Medya</h4>
                        <p style="color:#8a8a8a">Sporu sevin, bizi takip edin!</p>
                    </div>
                    <a href="https://www.facebook.com/akbeyakademisporkulubu/" target="_blank" style="padding:15px"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> |
                    <a href="https://www.instagram.com/akbeyakademi/" target="_blank" style="padding:15px"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> |
                    <a href="http://akbeyakademisporklb.blogspot.com/" target="_blank" style="padding:15px"><i class="fa fa-rss fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <!-- JS ============================================= -->
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/js/easing.min.js"></script>
    <script src="~/Scripts/js/hoverIntent.js"></script>
    <script src="~/Scripts/js/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/js/jquery.tabs.min.js"></script>
    <script src="~/Scripts/js/mail-script.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/simple-skillbar.js"></script>
    <script src="~/Scripts/js/superfish.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <!--============================================= -->


</body>
</html>